.cliper_notification {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  height: 90px;
  border-radius: 2px;
  background-color: #fff;
  color: #343434;
  -webkit-transition: all .4s cubic-bezier(.165,.84,.44,1);
  transition: all .4s cubic-bezier(.165,.84,.44,1);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(0,0,0,.08);
  transform: translateX(120%);
  -webkit-transform: translateX(120%);
  opacity: 0;
  font-size: 14px;
  z-index: 999999999999999999 !important;
}

.cliper_notification.active {
  opacity: 1;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

.notification_content,
.notification_title {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.notification_content {
  color: #1E88E5;
}

.notification_title {
  font-size: 12px;
  font-weight: 800;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f0f0f0;
}
