<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/popup.css">
</head>
<body>
    <div class="cliper_container">
      <div class="loading_container">
        <div class="loading_bounce"></div>
        <div class="loading_bounce"></div>
      </div>
    </div>
    <div id="cliper_userinfo">
      <span>Cliper</span><br/><br/><br/>
      <input type="email" required placeholder="email" class="cliper_form"/>
      <input type="password" required placeholder="password" class="cliper_form"/>
      <div class="cliper_submit" id="info_submit">
        登录/注册
      </div>
    </div>
</body>
<script src="../js/popup.js"></script>
</html>
